/**
 * Plugin front end styles
 *
 * @package My_Plugin
 * @version 1.0.0
 */

.sidebar.widget-area .widget {
	padding: 7px 0;
	line-height: 1.6;

	.widget-title {
		margin: 0;
		padding: 16px 16px 11px;
		text-align: center;
		 + * {
			 margin: 0 7px;
			 width: auto;
		 }
	}

	&.widget_wixbu_author {
		padding-top: 0;
	}

	.wixbu-author-pic {
		padding: 70% 0 0;
		background: center top / cover #22033d;
		margin: 0;
	}

	p {
		text-align: justify;
	}

	// Make accordian widgets have cursor pointer on title
	&.widget_wixbu_author,
	&.widget_course_syllabus,
	&.widget_wixbu_course_description {
		.widget-title {
			cursor: pointer;
		}
	}

	// Course Syllabus widget hide section header
	&.widget_course_syllabus {
		.section-header {
			display: none;
		}
		.llms-lesson li {
			padding: 0.7em 0;
		}
	}

	// Course Progress widget
	.llms-progress {
		margin-top: 7px;
	}

	// Widget sections collapsed by default
	.llms-section, .wixbu-section {
		max-height:0;
		overflow: hidden;
		padding: 0 25px;
		transition: max-height 0.5s, padding 0.5s;
	}

	// Widget sections expanded styles
	&.wixbu-expanded {
		.llms-section, .wixbu-section {
			padding: 7px 25px 16px;
			max-height:700px;
		}
	}
}