/**
 * Plugin front end styles
 *
 * @package My_Plugin
 * @version 1.0.0
 */
.sidebar.widget-area .widget {
  padding: 0;
  line-height: 1.6; }
  .sidebar.widget-area .widget .widget-title {
    margin: 0;
    padding: 16px 16px 11px;
    text-align: center; }
    .sidebar.widget-area .widget .widget-title + * {
      margin: 0 7px;
      width: auto; }
  .sidebar.widget-area .widget.widget_wixbu_author {
    padding-top: 0; }
  .sidebar.widget-area .widget .wixbu-author-pic {
    padding: 70% 0 0;
    background: center top / cover #22033d;
    margin: 0; }
  .sidebar.widget-area .widget p {
    text-align: justify; }
  .sidebar.widget-area .widget.widget_wixbu_author .widget-title, .sidebar.widget-area .widget.widget_course_syllabus .widget-title, .sidebar.widget-area .widget.widget_wixbu_course_description .widget-title {
    cursor: pointer; }
  .sidebar.widget-area .widget.widget_course_syllabus .section-header {
    display: none; }
  .sidebar.widget-area .widget.widget_course_syllabus .llms-lesson li {
    padding: 0.7em 0; }
  .sidebar.widget-area .widget .llms-progress {
    padding: 0 7px 11px; }
    .sidebar.widget-area .widget .llms-progress .llms-progress-bar {
      background-color: #eee;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.16); }
  .sidebar.widget-area .widget .llms-section, .sidebar.widget-area .widget .wixbu-section {
    max-height: 0;
    overflow: hidden;
    padding: 0 25px;
    transition: max-height 0.5s, padding 0.5s;
    margin: 0;
    border: none; }
  .sidebar.widget-area .widget.wixbu-expanded .llms-section, .sidebar.widget-area .widget.wixbu-expanded .wixbu-section {
    padding: 7px 25px 16px;
    max-height: 700px; }

.section-title:before,
.section-title:after,
.llms-h3:before,
.llms-h3:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  text-align: center;
  width: 999px;
  margin: auto;
  border-bottom: 2px solid; }

.section-title:before,
.llms-h3:before {
  right: 100%; }

.section-title:after,
.llms-h3:after {
  left: 100%; }

.llms-h3 {
  padding: 30px 10px;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  color: #9b2256; }

.llms-syllabus-wrapper {
  overflow: hidden; }

.section-title {
  padding: 20px 10px;
  display: inline-block;
  position: relative;
  background: white;
  text-transform: uppercase;
  color: #9b2256; }

#right-sidebar .widget {
  background: #f7f7f7; }
  #right-sidebar .widget.widget_course_syllabus .section-header {
    display: block;
    overflow: hidden;
    text-align: center; }
  #right-sidebar .widget .section-title {
    background: #f7f7f7; }

.llms-form-field #llms_mark_complete {
  font-weight: 600;
  text-transform: capitalize;
  color: #9b2256;
  background: transparent;
  border: 2px solid #9b2256;
  border-radius: 4px;
  width: 350px;
  padding: 20px 0;
  margin: auto; }

.llms-loop-link .llms-loop-item-footer {
  display: block; }

.llms-loop-item-footer .llms-author,
.llms-loop-item-footer .llms-difficulty {
  display: none; }

.llms-loop-item-footer {
  text-align: center; }

.llms-loop-item-footer .llms-course-length {
  padding-bottom: 10px;
  font-weight: 600; }

/*# sourceMappingURL=front.css.map */
