/**
 * Plugin front end styles
 *
 * @package My_Plugin
 * @version 1.0.0
 */

.sidebar.widget-area .widget {
	padding: 7px 0;
	line-height: 1.6;

	.widget-title {
		margin: 0;
		padding: 16px 16px 11px;
		text-align: center;
		 + * {
			 margin: 0 7px;
			 width: auto;
		 }
	}

	&.widget_wixbu_author {
		padding-top: 0;
	}

	.wixbu-author-pic {
		padding: 70% 0 0;
		background: center top / cover #22033d;
		margin: 0;
	}

	p {
		text-align: justify;
	}

	// Make accordian widgets have cursor pointer on title
	&.widget_wixbu_author,
	&.widget_course_syllabus,
	&.widget_wixbu_course_description {
		.widget-title {
			cursor: pointer;
		}
	}

	// Course Syllabus widget hide section header
	&.widget_course_syllabus {
		.section-header {
			display: none;
		}
		.llms-lesson li {
			padding: 0.7em 0;
		}
	}

	// Course Progress widget
	.llms-progress {
		margin-top: 7px;
	}

	// Widget sections collapsed by default
	.llms-section, .wixbu-section {
		max-height:0;
		overflow: hidden;
		padding: 0 25px;
		transition: max-height 0.5s, padding 0.5s;
	}

	// Widget sections expanded styles
	&.wixbu-expanded {
		.llms-section, .wixbu-section {
			padding: 7px 25px 16px;
			max-height:700px;
		}
	}
}

// region Widget and course section titles
.section-title:before,
.section-title:after,
.llms-h3:before,
.llms-h3:after {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	text-align:center;
	width: 999px;
	margin: auto;
	border-bottom: 2px solid;
}
.section-title:before,
.llms-h3:before{
	right: 100%;
}
.section-title:after,
.llms-h3:after{
	left: 100%;
}

.llms-h3 {
	padding: 30px 10px;
	display: inline-block;
	position: relative;
	background: #e5e5e5;
	text-transform: uppercase;
	color: #9b2256;
}

.llms-syllabus-wrapper{
	overflow: hidden;
}

.section-title {
	padding: 20px 10px;
	display: inline-block;
	position: relative;
	background: white;
	text-transform: uppercase;
	color: #9b2256;
}

#right-sidebar .widget.widget_course_syllabus .section-header {
	display: block;
	overflow: hidden;
	text-align: center;
}

// endregion

// region Courses gallery and single

.llms-form-field #llms_mark_complete {
	font-weight: 600;
	text-transform: capitalize;
	color: #9b2256;
	background: transparent;
	border: 2px solid #9b2256;
	border-radius: 4px;
	width: 350px;
	padding: 20px 0;
	margin: auto;
}

.llms-loop-link .llms-loop-item-footer {
	display: block;
}

.llms-loop-item-footer .llms-author,
.llms-loop-item-footer .llms-difficulty {
	display: none;
}

.llms-loop-item-footer {
	text-align: center;
}

.llms-loop-item-footer .llms-course-length {
	padding-bottom: 10px;
	font-weight: 600;
}

// endregion